@charset "UTF-8";
/* CSS Document */
html, body {
	height: 100vh;
}

.container {
	height: 100vh;
}

#home {
	overflow: hidden;
}

/* Menu */

nav {
	background-color: transparent;
}

nav li a, a.brand-logo {
		color: #000000;
}

/* Landing Page - Bio */

#bio {
	height: 100vh;
}


.temp, .temp2 {
	height: 250px;
	background-color: aqua;
}

.temp2 {
	background-color: red;
}

#ok {
	overflow-y: scroll;
	height: 500px;
}